<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>Title</title>
</head>
<body>
<nav class="navbar navbar-expand navbar-dark bg-navbar">
    <span class="navbar-brand mb-0 h1">Phone Book</span>

    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About US</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contacts</a>
            </li>
        </ul>
        <button class="btn btn-outline-warning my-0">Sign in</button>
    </div>
</nav>

<div class="container">
    <div class="row justify-content-center">
        <form action="#" class="col-6 mt-5">
            <input class="form-control mb-2" type="text">
            <input class="form-control mb-2" type="text">
            <button class="btn btn-primary">Registration</button>
            <button class="btn btn-success">Login</button>
            <div class="alert alert-success mt-4" role="alert">
                Login success
            </div>
            <div class="alert alert-danger mt-4" role="alert">
                Login error
            </div>
        </form>
    </div>
</div>
</body>
</html>
