<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title>Title</title>
</head>
<body>
<nav class="navbar navbar-expand navbar-dark bg-navbar">
    <span class="navbar-brand mb-0 h1">Phone Book</span>

    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About US</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contacts</a>
            </li>
        </ul>
        <button class="btn btn-outline-warning my-0">Sign in</button>
    </div>
</nav>

<div class="container">
    <div class="row mt-5">
        <div class="col-6">
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action active">Vasya</a>
                <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
                <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
                <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
            </div>
        </div>
        <div class="col-6">
            <div class="d-flex justify-content-end" style="background-color: #0d47a1; padding: 10px">
                <a href="#" class="material-icons mr-2" style="font-size:40px;color:#fff; border: 1px solid #fff; border-radius: 10px;text-decoration: none">edit</a>
                <a href="#" class="material-icons mr-2" style="font-size:40px;color:#fff; border: 1px solid #fff; border-radius: 10px;text-decoration: none">delete</a>
            </div>
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Vasya Pupkin</h4>
                    <h5 class="card-subtitle mb-2 text-muted">05444444</h5>
                    <h5 class="card-subtitle mb-2 text-muted">vasya@mail.com</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Tel Aviv</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
